<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
            {% if app.environment == "dev" %}
                <script src="http://127.0.0.1:8090/assets/bundle.js"></script>
            {% else %}
                <script type="text/javascript" src="{{ asset('assets/bundle.js') }}"></script>
            {% endif %}

            <script type="text/babel">
                var conn = new ab.Session('ws://localhost:8080',
                        function() {
                            {% block react_app %}
                            {% endblock react_app %}
                        },
                        function() {
                            console.warn('WebSocket connection closed');
                        },
                        {'skipSubprotocolCheck': true}
                );
            </script>

        {% endblock javascripts %}
    </body>
</html>
