{% extends 'base.html.twig' %}

{% block body %}
    <div id="games-page-container">
    </div>
{% endblock %}

{% block react_app %}
    let user = JSON.parse("{{ user|e('js') }}");
    let entities = JSON.parse("{{ entities|e('js') }}");
    render(
        <Provider store={store}>
            <Scubs appState={'GAMES_PAGE_STATE'} user={user} entities={entities} sc={conn}/>
        </Provider>,
        document.getElementById('games-page-container')
    )
{% endblock react_app %}