{% extends 'base.html.twig' %}

{% block body %}
    <div id="play-page-container">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel">
        let user = JSON.parse("{{ user|e('js') }}");
        let currentGame = JSON.parse("{{ currentGame|e('js') }}");
        render(
                <Provider store={store}>
                    <Scubs appState={'PLAY_PAGE_STATE'} user={user} currentGame={currentGame}/>
                </Provider>,
                document.getElementById('play-page-container')
        )
    </script>
{% endblock %}