{% extends 'base.html.twig' %}

{% block body %}
    <div id="profile-page-container">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel">
        let user = JSON.parse("{{ user|e('js') }}");
        render(
                <Provider store={store}>
                    <Scubs appState={'PROFILE_PAGE_STATE'} user={user}/>
                </Provider>,
                document.getElementById('profile-page-container')
        )
    </script>
{% endblock %}