{% extends 'base.html.twig' %}

{% block body %}
    <div id="scores-page-container">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel">
        let user = JSON.parse("{{ user|e('js') }}");
        let scores = JSON.parse("{{ scores|e('js') }}");
        render(
                <Provider store={store}>
                    <Scubs appState={'SCORES_PAGE_STATE'} user={user} scores={scores} />
                </Provider>,
                document.getElementById('scores-page-container')
        )
    </script>
{% endblock %}